<!DOCTYPE html>
<html>
  <head>
    <title><%=@title%></title>
    <%= csrf_meta_tags %>
    <!-- Inicio CSS -->
    <%= load_css %>
    <!-- Fin CSS-->
    <!-- Inicio JS -->
    <%= load_js %>
    <!-- Fin JS-->
  </head>
  <body>
    <!-- Inicio yield-->
    <%= yield %>
    <!-- Fin yield-->
  </body>
</html>